# Python #
##########
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django #
##########
# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# If you're using Django's static file storage
static/

# Local development settings
local_settings.py

# Environment variables
.env

# Ignore the virtual environment folder
venv/
# If your virtual environment folder has a different name, adjust accordingly

# VS Code settings (if using VSCode)
.vscode/

# MySQL database dumps (optional)
*.sql

# macOS #
##########
.DS_Store